.dashboard-title {
    font-size: 27px;
    @media (max-width : 576px){
        font-size : 20px;
    }
}
.dashboard-content-button {
    background: #9400FF !important;
    border-radius: 6px;
    border : 0 !important;
    margin-right: 5px;

    @media (max-width : 576px){
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &:hover {
        background-color: #7129be !important;
    }
}
.button-layout {
    text-align: center;
    @media (max-width : 576px){
        text-align: left;
    }
}
.dashboard-content-button-compound {
    width : 100px;
    border : 1px solid #9400FF !important;
    color : #9400FF !important;
    background-color: transparent !important;
    &:hover {
        background-color: #9400FF !important;
        color: white !important;
    }
}
.dashboard-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #A4AEBF;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;

    @media (max-width:576px) {
        font-size: 15px;
        padding-left: 35px;
        padding-right: 35px;
        line-height: 18px;
    }
}